<!-- users-list.component.html -->
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div class="users-container">
  <mat-card *ngFor="let user of users" (click)="goToUserDetails(user.id)">
    <div class="user-card-content">
      <img class="user-avatar" [src]="user.avatar" alt="{{ user.first_name }}">
      <div class="user-details">
        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
      </div>
    </div>
  </mat-card>
</div>
<mat-paginator [length]="totalUsers" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
